.btn-sandwich-row {
	width: $btn-sandwich-width;
  height: $btn-sandwich-row-height;
  background-color: black;
  margin: $btn-snadwich-row-margin;
}

@media screen and (min-width: $screen-tablet) {
	.btn-sandwich {
		@include hide;
	}
}