.btn {
	@include border-radius(5px);
	border: 1px solid $default-gray;
}

.btn-sandwich {
	font-size: $font-size-small;
}

.btn-sandwich-row {
	width: $btn-sandwich-width;
  height: $btn-sandwich-row-height;
  background-color: black;
  margin: $btn-snadwich-row-margin;
}

.btn-sing {
	@include transition($background-color-transition);

	margin: 5px 13px;

	a {
		@include transition($color-transition);
	}

	&:hover {
		background-color: $default-gray;
		a {
			color: white !important;
		}
	}
}

@media screen and (min-width: $screen-tablet) {
	.btn-sandwich {
		@include hide;
	}
}