input[type=text],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=number],
input[type=url],
input[type=week],
select {
  width: 250px;
  height: 30px;
  padding: 6px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 5px;
}

select {
  color: #999;
}

input[type=reset],
input[type=submit] {
  @extend .btn;
}