@mixin display-flex() {
	display: flex;
	display: -webkit-flex;
}

@mixin align-items($value) {
	align-items: $value;

	-ms-flex-align: $value;
	-webkit-align-items: $value;
	-webkit-box-align: $value;
}

@mixin hide() {
	visibility: hidden;
  display: none;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin transition($effect) {
  transition: $effect;
  -webkit-transition: $effect;
	-moz-transition: $effect;
}

@mixin colorAndHoverText($color, $hoverColor) {
	color: $color;

	&:hover {
		color: $hoverColor;
	}
}

@mixin styleButton($background-color, $border-color, $color, $hoverBackground-color, $hoverBorder-color, $hoverColor) {
	background-color: $background-color;
	border-color: $border-color;
	color: $color;

	&:hover {
		background-color: $hoverBackground-color;
		border-color: $hoverBorder-color;
		color: $hoverColor;
	}
}

@mixin styleNavbar($background-color, $color, $hoverColor) {
	background-color: $background-color;

	.navbar-brand {
		@include colorAndHoverText ($color, $hoverColor);
	}

}