@mixin display-flex() {
	display: flex;
	display: -webkit-flex;
}

@mixin align-items($value) {
	align-items: $value;

	-ms-flex-align: $value;
	-webkit-align-items: $value;
	-webkit-box-align: $value;
}

@mixin hide() {
	visibility: hidden;
	display: none;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

@mixin transition($effect) {
  transition: $effect;
  -webkit-transition: $effect;
  -moz-transition: $effect;
}

@mixin colorAndHoverText($color, $hoverColor) {
	color: $color;

	&:hover {
		color: $hoverColor;
	}
}

@mixin styleButton($background-color, $border-color, $color, $hoverBackground-color, $hoverBorder-color, $hoverColor) {
	background-color: $background-color;
	border-color: $border-color;
	color: $color;

	&:hover {
		background-color: $hoverBackground-color;
		border-color: $hoverBorder-color;
		color: $hoverColor;
	}
}

@mixin styleSandwichButton($color) {
	color: $color;
	border-color: $color;

	.btn-sandwich-row {
		background-color: $color;
	}
}

@mixin styleNav($color, $hoverColor) {
	li {
		@include colorAndHoverText ($color, $hoverColor);
		border-color: $color;

		&:hover {
   			border-color: $hoverColor;
   		}

		> a {
			@include colorAndHoverText ($color, $hoverColor);

			text-decoration: none;
		}
	}

	.sing {
		border-color: $color;

		&:hover {    
			background-color: $hoverColor;
			color: complement($color) !important;
			a {
				color:  complement($color) !important;
			}
		}
	}

}

@mixin styleDiv($background-color, $color, $hoverColor) {
	background-color: $background-color;
	color: $color;

	a {
		@include colorAndHoverText ($color, $hoverColor);
		text-decoration: none;
	}
}

@mixin primaryDiv($background-color, $color, $hoverColor) {
	@include styleDiv($background-color, $color, $hoverColor);

	.nav {
		@extend .nav-primary;
	}

	.btn {
		@extend .btn-primary;
	}

	.btn-sandwich {
		@extend .btn-sandwich-primary;
	}
}

@mixin complementaryDiv($background-color, $color, $hoverColor) {
	@include styleDiv($background-color, $color, $hoverColor);

	.nav {
		@extend .nav-complementary;
	}

	.btn {
		@extend .btn-complementary;
	}

	.btn-sandwich {
		@extend .btn-sandwich-complementary;
	}
}