.nav {
	@include styleNav(black, $default-gray);

	list-style-type: none;
	padding: 0 $clear-area-small;
	margin: 0;
	overflow: hidden;
	display: inline-block;

	li {
		display: inline-block;

		> span, > a {
			display: block;
			padding: $clear-area-medium;
		}
	}

	.sing {
		@include border-radius(5px);
    @include transition($background-color-transition);

		border: solid 1px;
	}

}

.nav-vertical {
  display: initial;
  li {
    display: initial;
  }
}

.nav-primary {
	@include styleNav($primary-gray, white);
}

.nav-complementary {
	@include styleNav($compound-complementary-yellow, $primary-blue);
}