.nav {
	@include styleNav(black, $default-gray);

	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: inline-block;

	li {
		display: inline-block;

		> span, > a {
			display: block;
			padding: $clear-area-medium;
		}
	}
}

.nav-primary {
	@include styleNav($primary-gray, white);
}

.nav-complementary {
	@include styleNav($compound-complementary-yellow, $primary-blue);
}