.nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: inline-block;

	li {
		display: inline-block;
		border-color: black;

		&:hover {
			border-color: $default-gray;
		}

		> a {
			@include colorAndHoverText (black, $default-gray);

			text-decoration: none;
			display: block;
			padding: $clear-area-medium;
		}
	}
}

.nav-primary {
	li {
		border-color: $primary-gray;

		&:hover {
   			border-color: white;
   		}

		> a {
			@include colorAndHoverText ($primary-gray, white);
		}
	}
}

.nav-complementary {
	li {
		border-color: $compound-complementary-yellow;
		
		&:hover {
   			border-color: $primary-blue;
   		}
		
		> a {
			@include colorAndHoverText ($compound-complementary-yellow, $primary-blue);
		}
	}
}