.navbar {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: yellow;
}

.navbar-brand {
	background-color: red;

	> img {
			vertical-align: middle;
	}
}

.sandwich-navbar {
	.button {
		
	}
}

@media screen and (min-width: $screen-tablet) {
	.navbar {
		display: table;

		> .nav {
			float: right;
			height: 100%;
			display: table;
			
			> li {
				display: table-cell;
				vertical-align: middle;
			}
		}
  }

	.navbar-brand {
		display: table-cell;
		vertical-align: middle;
	}
}