* {
  box-sizing: border-box;
}

html {
	font-family: $font-stack;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	height: 100%;
}

article,
aside,
details,
footer,
header,
nav,
section,
summary {
	display: block;
	margin: 0;
}