* {
  box-sizing: border-box;
}

html {
	font-family: $font-stack;
	-ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: $font-size-default;
}

body {
	margin: 0;
	height: 100%;
}

article,
aside,
details,
footer,
header,
nav,
section,
summary {
	display: block;
	overflow: auto;
	margin: 0;
}

button {
  color: inherit;
  font: inherit; 
  margin: 0;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}