.sing {
	@include border-radius(5px);
    @include transition($background-color-transition);

	border: solid 1px black;

	&:hover {    
		background-color: $default-gray;
		color: white !important;
		a {
			color: white !important;
		}
	}
}