$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-default: 16px;

$font-size-big: 22px;

$screen-tablet: 635px; // (768px ?)

$text-link-padding: 8px;

$btn-sandwich-width: 35px;

$btn-sandwich-row-height: 5px;

$btn-snadwich-row-margin: 6px auto;