$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-default: 16px;

$font-size-big: 22px;

$font-size-small: 14px;

$screen-tablet: 635px; // (768px ?)

$link-padding: 8px;

$bottom-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.19);

$btn-sandwich-width: 35px;

$btn-sandwich-row-height: 5px;

$btn-snadwich-row-margin: 6px auto;