// Typography

$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-default: 16px;
$font-size-big: 22px;
$font-size-small: 14px;

// Colors

$default-gray: #808080;
$primary-gray: #ddd;
$primary-blue: #10428B;
$dark-blue: #0A2A58;
$complementary-yellow: #8B6210;
$compound-complementary-yellow: #F1E27C;

// Devices

$screen-tablet: 635px; // (768px ?)

// Buttons

$btn-margin-default: 5px 13px;
$btn-sandwich-width: 35px;
$btn-sandwich-row-height: 5px;
$btn-sandwich-row-margin: 6px auto;

// Padding

$padding-small: 5px;
$padding-medium: 8px;
$padding-big: 10px;

// Box-shadow

$bottom-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2), 0 0 15px 0 rgba(0, 0, 0, 0.19);

// Transitions

$background-color-transition: background-color .6s ease;
$color-transition: color .15s ease;